.depth-frame {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  align-items: flex-start;
  position: relative;
  background-color: #211e11;
}

.depth-frame .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.depth-frame .depth-frame-wrapper {
  align-items: center;
  justify-content: space-around;
  padding: 12px 40px;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e8ea;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.depth-frame .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.depth-frame .img {
  position: relative;
  flex: 0 0 auto;
}

.depth-frame .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.depth-frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
}

.depth-frame .depth-frame-wrapper-2 {
  align-items: flex-start;
  justify-content: center;
  padding: 20px 160px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.depth-frame .div-3 {
  position: relative;
  max-width: 960px;
  width: 960px;
  height: 695px;
  overflow: hidden;
}

.depth-frame .depth-frame-wrapper-3 {
  display: flex;
  width: 456px;
  align-items: flex-start;
  padding: 12px 16px;
  position: absolute;
  top: 363px;
  left: 328px;
}

.depth-frame .depth-frame-wrapper-4 {
  display: flex;
  min-width: 84px;
  max-width: 480px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #edb511;
  border-radius: 8px;
  overflow: hidden;
}

.depth-frame .div-wrapper-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.depth-frame .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 700;
  color: #211e11;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.depth-frame .depth-frame-wrapper-5 {
  display: flex;
  width: 677px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 466px;
  left: 217px;
}

.depth-frame .depth-frame-wrapper-6 {
  flex-wrap: wrap;
  max-width: 480px;
  justify-content: center;
  gap: 12px 12px;
  padding: 12px 16px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.depth-frame .depth-frame-wrapper-7 {
  display: flex;
  max-width: 480px;
  width: 242px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  background-color: #473f23;
  border-radius: 8px;
  overflow: hidden;
}

.depth-frame .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.depth-frame .depth-frame-wrapper-8 {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 480px;
  align-items: flex-end;
  gap: 16px 16px;
  padding: 12px 16px;
  position: absolute;
  top: 204px;
  left: 312px;
}

.depth-frame .div-4 {
  flex-direction: column;
  min-width: 160px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.depth-frame .div-wrapper-3 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 8px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.depth-frame .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.depth-frame .enter-your-password-wrapper {
  align-items: center;
  padding: 15px;
  background-color: #332d19;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #665933;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.depth-frame .enter-your-password {
  position: relative;
  width: 160px;
  height: 22px;
  font-family: "Newsreader", Helvetica;
  font-weight: 400;
  color: #c9ba91;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.depth-frame .depth-frame-wrapper-9 {
  position: absolute;
  top: 90px;
  left: 312px;
  width: 480px;
  height: 112px;
}

.depth-frame .div-5 {
  flex-direction: column;
  width: 448px;
  top: 12px;
  left: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.depth-frame .enter-your-email-or-wrapper {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #332d19;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #665933;
}

.depth-frame .enter-your-email-or {
  position: relative;
  width: fit-content;
  font-family: "Newsreader", Helvetica;
  font-weight: 400;
  color: #c9ba91;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.depth-frame .div-wrapper-4 {
  display: flex;
  flex-direction: column;
  width: 191px;
  align-items: flex-start;
  padding: 4px 16px 12px;
  position: absolute;
  top: 326px;
  left: 317px;
}

.depth-frame .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 400;
  color: #c9ba91;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.depth-frame .div-wrapper-5 {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
  padding: 4px 16px 12px;
  position: absolute;
  top: 427px;
  left: 56px;
}

.depth-frame .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 400;
  color: #c9ba91;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.depth-frame .div-wrapper-6 {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
  padding: 20px 16px 12px;
  position: absolute;
  top: 0;
  left: 58px;
}

.depth-frame .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Newsreader", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35px;
}

.depth-frame .p {
  position: absolute;
  top: 553px;
  left: 454px;
  width: 223px;
  font-family: "Newsreader", Helvetica;
  font-weight: 400;
  color: #c9ba91;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}
